node_modules
.pnpm-store
build
dist
.DS_Store
.env

# Ignore the output video from Git but not videos you import into src/.
out
output
release
vendor/chrome-headless-shell
vendor/chrome-headless-shell-win32-x64
vendor/remotion-compositor-win32-x64-msvc
vendor/.runtime-cache
